@using Hack2ProgressAspMvc.Models
@model IEnumerable<Hack2ProgressAspMvc.Models.Consumo>

@{
    ViewBag.Title = "Consumo energetico por toma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consumo energetico por toma</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.IdToma)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ConsumoEnergetico)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Fecha)</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td scope="row">@Html.DisplayFor(model => item.Id)</td>
            <td scope="row">@Html.DisplayFor(model => item.IdToma)</td>
            <td scope="row">@Html.DisplayFor(model => item.ConsumoEnergetico)</td>
            <td scope="row">@Html.DisplayFor(model => item.Fecha)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </tbody>
</table>
