@model IEnumerable<Hack2ProgressAspMvc.Models.Habitacion>

@{
    ViewBag.Title = "Registro Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro Habitaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hogar</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

        <tr>

            <td scope="row">@item.Id</td>
            <th scope="row">@item.Nombre</th>
            <td>@item.IdHogar</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>

        </tr>
        }

    </tbody>
</table>


@*<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">


    <!-- @Html.DisplayNameFor(model => model.Nombre)-->
    <!---- @Html.DisplayNameFor(model => model.IdHogar)-->


    @foreach (var item in Model)
    {
<div id="@Html.DisplayFor(modelItem => item.IdHogar)">

    <div id="room" draggable="true" ondragstart="drag(event)">
        </div>

    @Html.DisplayFor(modelItem => item.Nombre)
    @Html.DisplayFor(modelItem => item.IdHogar)

    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
</div>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        

    }

</div>*@
