@model IEnumerable<Hack2ProgressAspMvc.Models.Habitacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">


    <!-- @Html.DisplayNameFor(model => model.Nombre)-->
    <!---- @Html.DisplayNameFor(model => model.IdHogar)-->


    @foreach (var item in Model)
    {
        <div id="@Html.DisplayFor(modelItem => item.IdHogar)"><div id="room" draggable="true" ondragstart="drag(event)">@Html.DisplayFor(modelItem => item.Nombre)</div></div>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
@Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

    }

</div>
