@model IEnumerable<Hack2ProgressAspMvc.Models.Hogar>

@{
    ViewBag.Title = "Registro Propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro Propiedades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <th scope="row">@item.Nombre</th>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

    </tbody>
</table>
